<div class="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-6 p-0">
        <div class="login_logo text-center">
          <div class="login_img">
            <img src="./assets/img/Crown_logo.png" alt="Crown Logo" />
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="login_form d-flex align-content-around flex-wrap">
          <div class="login_field">
            <div class="login_heading d-flex justify-content-between pr-4 pl-4 pb-2">
              <h5>Reset Password </h5>
              <a href="" routerLink="/login" class="ml-3">Sign in</a>
            </div>
            <form [formGroup]="ForgotPasswordForm" (keyup.enter)="onSubmit()">
              <div class="row input_bg">
                <div class="input-group input-group-icon">
                  <input type="email" placeholder="Email ID" formControlName="username" />
                  <div class="input-icon"><img src="assets/img/email.svg"></div>
                </div>
              </div>
              <button (click)="onSubmit()" class="sign_btn">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>